* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Inter;
}

.container {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 100%;
    width: 100%;
    background-color: rgb(34, 36, 41);
    background-color: #152133;
}

.content {
    width: 100%;
    height: 90%;
    border-top: 2px solid #2c58e9;
    margin-top: 15%;
    position: absolute;
    /* background-color: #353434;; */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    /* background-image: linear-gradient(to bottom, black, black 30%, cyan); */
    /* background-image: linear-gradient(to bottom, black, black 30%, red); */
    background-image: linear-gradient(to bottom, #090b0f, #0d1622 25%, rgb(17, 0, 255)); 
    box-shadow: 0 -10px 20px rgba(3, 33, 199, 0.7);
    /* transition: box-shadow 0.3s ease-in-out; */
}

.main-tokens-value {
    width: 100%;
    height: 20%;
    border-bottom: 1px solid #2c2c2c;
    /* background-color: #353434; */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-image: url("../images/background.jpg");
}

.data-in-load-tokens {
    color: #f6f7f8;
    font-size: 50px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 30%; 
    text-align: center;
    font-weight: 700;
    /* position: absolute; */
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.claim-button {
    position: absolute;
    width: 84%;
    margin-left: 8%;
    top: 85%;
    height: 50px;
    background-color: #003afa;
    color: #f6f7f8;
    font-size: 25px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.version {
    width: 70px;
    height: 10px;
    color: #3588db;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4%;
    font-size: 15px;
}

.vault {
    width: 300px;
    height: 200px;
    background-color: #152133;
    position: absolute;
    right: 0;
    top: 50%;
    border-radius: 20px;
}

.planet {
    position: absolute;
    right: 5%;
    top: 3%;
    color: #f6f7f8;
    font-weight: 600;
    font-size: 20px;
}

.panels-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.panel-1 {
    width: 30%;
    height: 100px;
    top: 40%;
    background-color: #003afa;
    border-radius: 20px;
}

.main-menu-buttons {
    bottom: 0;
    position: absolute;
    width: 90%;
    height: 10%;
    background-color: #152133;
    left: 5%;
    border-radius: 20px;
}

#panel-2-energy {
    color: #f6f7f8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vault-main {
    width: 300px;
    height: 200px;
    background-color: #152133;
    position: absolute;
    right: 5%;
    top: 50%;
    border-radius: 20px;
}