* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Inter;
}

.container {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 100%;
    width: 100%;
    background-color: rgb(34, 36, 41);
    background-color: #152133;
}

.content {
    width: 100%;
    height: 90%;
    border-top: 2px solid #2c58e9;
    margin-top: 15%;
    position: absolute;
    /* background-color: #353434;; */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    /* background-image: linear-gradient(to bottom, black, black 30%, cyan); */
    /* background-image: linear-gradient(to bottom, black, black 30%, red); */
    background-image: linear-gradient(to bottom, #090b0f, #0d1622 25%, rgb(17, 0, 255)); 
    box-shadow: 0 -10px 20px rgba(3, 33, 199, 0.7);
    /* transition: box-shadow 0.3s ease-in-out; */
}

.main-tokens-value {
    width: 100%;
    height: 20%;
    border-bottom: 1px solid #2c2c2c;
    /* background-color: #353434; */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-image: url("../images/background.jpg");
}

.data-in-load-tokens {
    color: #f6f7f8;
    font-size: 50px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 30%; 
    text-align: center;
    font-weight: 700;
    /* position: absolute; */
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.claim-button {
    position: absolute;
    width: 84%;
    margin-left: 8%;
    top: 85%;
    height: 50px;
    background-color: #003afa;
    color: #f6f7f8;
    font-size: 25px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.version {
    width: 70px;
    height: 10px;
    color: #3588db;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4%;
    font-size: 15px;
}

.vault {
    width: 300px;
    height: 200px;
    background-color: #152133;
    position: absolute;
    right: 0;
    top: 50%;
    border-radius: 20px;
}

.planet {
    position: absolute;
    right: 5%;
    top: 3%;
    color: #f6f7f8;
    font-weight: 600;
    font-size: 20px;
}

.panels-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.panel-1 {
    width: 30%;
    height: 100px;
    top: 40%;
    background-color: #003afa;
    border-radius: 20px;
}

.main-menu-buttons {
    bottom: 0;
    position: absolute;
    width: 90%;
    height: 10%;
    background-color: #152133;
    left: 5%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

#active-button-menu {
    width: 25%;
    height: 110%;
}
.button-menu-buttons {
    background-color: #0c1325;
    width: 20%;
    height: 100%;
    margin-left: 1px;
    border-radius: 20px;
    color: #757575;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
}
#panel-2-energy {
    color: #f6f7f8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vault-main {
    width: 300px;
    height: 200px;
    background-color: #152133;
    position: absolute;
    right: 5%;
    top: 50%;
    border-radius: 20px;
    border: 2px solid #f18202;
}

.vault-name {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;    
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 2px solid #f18202;
}

.claim-tokens-button {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 23%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f6f7f8;
    background-color: #063580;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.tokens-value-vault {
    color: #f6f7f8;
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.level-vault {
    right: 5%;
    position: absolute;
    width: 50px;
    height: 25px;
    font-size: 15px;
    background-color: #f18202;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.progress-bar {
    height: 30px;
    width: 0;
    background-color: #003afa;
    border-radius: 25px;
    text-align: center;
    line-height: 30px;
    color: white;
    transition: width 0.25s;
}

.claim-tokens-button:active {
    background-color: #003afa;
    border-radius: 20px;
}

.container-friends {
    background-color: #152133;
    width: 100%;
    height: 100%;
}

.text-friends {
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    top: 15%;
    color: #f6f7f8;
    font-weight: 600;
    font-size: 32px;
}

.friends-add {
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 84%;
    height: 10%;
    left: 8%;
    top: 25%;
    color: #f6f7f8;
    font-weight: 600;
    font-size: 32px;
    background-color: #063580;
    border-radius: 15px;
}

.text-friends-text {
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    top: 21%;
    color: #f6f7f8;
    font-size: 20px;
}

.moneta-main-balance {
    width: 70px;
    height: 70px;
    margin-right: 1%;
}

.tasks {
    position: absolute;
    right: 0;
    width: 200px;
    height: 3%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f18202;
    top: 22%;
    color: #ffffff;
    display: flex;
    text-align: center;
    justify-content: center;
}